/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#banner {

  background: #99ccff;
  padding: 12px;
  border-bottom: 8px solid;
  font: small-caps 40px/40px "Arial";
  color: #0066cc;
  text-align: center;

}

#columns{

	background: #99ccff;
	height: 350px;

	#sidebar {
    	float: left;
    	padding: 1em 1em;
    	margin-right: 1em;	
    	width: 13em;
    	background: #99ccff;
    
	}

	#main {
    	margin-left: 17em;
    	padding: 1em;
    	background: white;
    	height: 100%
  	}
}