// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.properties{

	#table_catalog{
		margin-top: 1em;
		table-layout: fixed;
		width: 900px;
		
		th,td{
			padding: 0.5em;
			text-align: left;
			width: 200px;
		}
		
		#action_col{
			width: 100px;
		}
		
		th{
			color: #0073e6;
			background: #e6f2ff;
		}
		
	}
	
	#description{
		font-style: italic;
		padding: 0.5em;
	}
	
	.photo{
		margin-top: 0.5em;
	}
	
	.description_field{
		textarea{
			resize: none;
			width: 350px;
			height: 80px;
		}
	}
	
	.upload_field{
		margin-top: 0.5em;
		margin-bottom: 2em;
		font-style: italic;
	}
	
	.submit_button{
		font-size: 24px;
	}

}